<div class="container">
  <div class="card">
    <div class="card-header">
      <h2>Cadastro de Protocolo</h2>
      <span id="divisor"></span>
    </div>
    <div class="card-body">
      <form (ngSubmit)="criarProtocolo()">
        <div>
          <label for="identificadorEmpresa" style="vertical-align: super;">Número Identificador da Empresa</label>
          <input type="text" class="form-control" id="identificadorEmpresa" name="identificadorEmpresa" [(ngModel)]="identificadorEmpresa" placeholder="Digite o número identificador da empresa" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Cadastrar Protocolo</button>
      </form>
    </div>
  </div>
</div>